/*
  DEFAULT CLASSES
*/

.dragncrop {
  position: relative;
  overflow: hidden;
}

.dragncrop img {
  display: block;
}

/* TODO: cross-browser cursors */
.ui-draggable {
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

.ui-draggable-dragging {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

.dragncrop-horizontal {
  max-width: none;
  height: 100%;
}

.dragncrop-vertical {
  width: 100%;
  max-height: none;
}

.dragncrop-containment {
  position: absolute;
}

/*
  OPTIONAL CLASSES
*/

/* Overlow */
.dragncrop-dragging.dragncrop-overflow {
  overflow: visible;
}

/* Overlay */
.dragncrop-overlay {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: black;
  border-width: 0;
}

.dragncrop-dragging .dragncrop-overlay {
  z-index: 1;
}